*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}
html, body{font: 400 18px 'RobotoRegular', sans-serif}
.container{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}
.whitebull-bg{
	background: url(../img/bg-bike.png) no-repeat;
	background-size: cover;
	height: 341px;
	&__img{
		text-align: center;
		padding-top: 81px;
	}
}
.holder-bike-bg{
	background: url(../img/bg-bike2.png) no-repeat;
	background-size: cover;
	height: 341px;
	margin-top: 9%;
	
}
.holder-bike{
	&__img{
		position: absolute;
		top: 76px;
		left: 0;
		z-index: 10;
	}
}
.holder-bike__text{
	margin-top: -163px;
	float: right;
	max-width: 470px;
	width: 100%;
	color: #000;
	p{
		margin-bottom: 37px;
	}
	p:last-child{
		margin-bottom:0;
	}
}
.bg-form{
	background: url(../img/bike-img2.jpg) no-repeat; 
	height: 200px;
	background-size: cover;
}